<h1 style="font-size:30px;text-align: center;">- Introduction to Data Science  - Student Project -</h1>
<h1 style="font-size:25px;text-align: center;">- Bike Sharing - Success classification -</h1>

![Algebra](https://repozitorij.algebra.hr/sites/repozitorij.algebra.hr/files/algebra_subbrand_vu_color-black_h_1.png)

=========================================================================================================================
<b>*Made: January 2021.* </b>

<b>*Author: Mislav Spajić, univ. bacc. ing. agr.*</b>

<b>*Menthors: doc. dr. sc. Goran Klepac, mr. sc. Mirko Talajić*</b>

## Table of Contents

[1. Introduction](#introduction)
   > [1.1. Goal of the project](#goal)   
   > [1.2. Dataset description](#dataset)    
   > [1.3. Problem description](#problem)
   

[2. Importing needed librarires & modules and initial setup](#import)

[3. Columns explanation](#explanation)

[4. Exploring and cleaning data](#explore_main)

   > [4.1. Basic info about data](#explore_basic)   
   > [4.2. Categorical variables](#explore_cat)    
   > [4.3. Numerical variables](#explore_num)
   
[5. Data analysis and visualisation](#dvad_main)

   > [5.1. Distribution of numericals](#dvad_distributionn)    
   > [5.2. Distribution of categoricals](#dvad_distributionc)    
   > [5.3. Variable relationship](#dvad_rel)
  
   
---------------------------------------------------------------------

In [1]:

%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats

# import pandas_profiling
# from scipy import stats
# import matplotlib.pyplot as plt
# import seaborn as sns
# import cufflinks as cf
# import plotly.offline
# import time

# from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report, confusion_matrix, recall_score, accuracy_score, precision_score
# from sklearn.metrics import roc_curve, roc_auc_score, make_scorer

## 1. Introduction<a name="introduction"></a>

### 1.1. Goal of the project<a name="goal"></a>

&nbsp;&nbsp;&nbsp;&nbsp;Goal of this student project was to successfully apply knowledge learnt in the class 'Introduction to Data Science' on a given dataset. Primarily, application of attribute relevance analysis techniques we have learnt (Weight of Evidence and Information Value), prediction of success/non-success of the target variable using logistic regression model and other classification algorithms, evaluation of the models using AUC-ROC curve, classification matrix, etc. I have been assigned with a dataset regarding one bike sharing service usage. More details about the dataset in the next chapter.

### 1.2. Dataset description<a name="dataset"></a>

&nbsp;&nbsp;&nbsp;&nbsp;I will be using Bike sharing dataset provided by UCI Machine Learning Repository. 

&nbsp;&nbsp;&nbsp;&nbsp;Data was obtained from this link : https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset#.

&nbsp;&nbsp;&nbsp;&nbsp;This dataset contains the hourly and daily count of rental bikes between years 2011 and 2012 in Capital bikeshare system with the corresponding weather and seasonal information. 

&nbsp;&nbsp;&nbsp;Attribute Information:

&nbsp;&nbsp;&nbsp;Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv.

- **instant**: record index
- **dteday** : date
- **season** : season (1:winter, 2:spring, 3:summer, 4:fall)
- **yr** : year (0: 2011, 1:2012)
- **mnth** : month ( 1 to 12)
- **hr** : hour (0 to 23)
- **holiday** : weather day is holiday or not (extracted from [Web Link])
- **weekday** : day of the week
- **workingday** : if day is neither weekend nor holiday is 1, otherwise is 0.
+ **weathersit** :
 - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
 - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
 - 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
 - 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- **temp** : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)
- **atemp**: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)
- **hum**: Normalized humidity. The values are divided to 100 (max)
- **windspeed**: Normalized wind speed. The values are divided to 67 (max)
- **casual**: count of casual users
- **registered**: count of registered users
- **cnt**: count of total rental bikes including both casual and registered

### 1.3. Problem description<a name="problem"></a>

&nbsp;&nbsp;&nbsp;&nbsp;Bike sharing systems are new generation of traditional bike rentals where whole process from membership, rental and return back has become automatic. Through these systems, user is able to easily rent a bike from a particular position and return back at another position. Currently, there are about over 500 bike-sharing programs around the world which is composed of over 500 thousands bicycles. Today, there exists great interest in these systems due to their important role in traffic, environmental and health issues. Apart from interesting real world applications of bike sharing systems, the characteristics of data being generated by these systems make them attractive for the research.

&nbsp;&nbsp;&nbsp;&nbsp;Bike-sharing rental process is highly correlated to the environmental and seasonal settings. For instance, weather conditions, precipitation, day of week, season, hour of the day, etc. can affect the rental behaviors. The core data set is related to the two-year historical log corresponding to years 2011 and 2012 from Capital Bikeshare system, Washington D.C., USA which is publicly available in http://capitalbikeshare.com/system-data. Authors of this dataset aggregated the data on two hourly and daily basis and then extracted and added the corresponding weather and seasonal information. Weather information was extracted from http://www.freemeteo.com.

&nbsp;&nbsp;&nbsp;&nbsp;As the goal of this project is to create a binary clasiffication model and the logical target variables in this dataset (casual, registered, cnt) are discrete numerical variables, I will derive the binary traget variable from count of the total rental bikes (cnt). Was some day success (1) or non-success (0) will be determined by comparing the value for that day with monthly mean in which that day falls in. 

&nbsp;&nbsp;&nbsp;&nbsp;I will use the daily data to try to successfully predict was some day success (1) or non-succes (0).

# 2. Importing needed librarires & modules and initial setup<a name="import"></a>

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# import pandas_profiling
# from scipy import stats
# import seaborn as sns
# import cufflinks as cf
# import plotly.offline
# import time

# from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report, confusion_matrix, recall_score, accuracy_score, precision_score
# from sklearn.metrics import roc_curve, roc_auc_score, make_scorer

%matplotlib inline 
#Jupyter inline magic command needed to display plots
plt.style.use("ggplot")
#Setting different plot style than default, using ggplot style derived from famous R library ggplot2
seed=42
#Defining seed variables to use in algorithms which rely on randomness, this is for reporoducibility

In [2]:
hour=pd.read_csv("")

In [3]:
hour.head(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14

In [4]:
hour.drop("instant",axis=1,inplace=True)

In [5]:
hour

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [7]:
hour.shape

(17379, 16)

In [6]:
hour.isnull().sum().sum()

0

In [8]:
hour.describe()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [9]:
hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      17379 non-null  object
 1   season      17379 non-null  int64
 2   yr          17379 non-null  int64
 3   mnth        17379 non-null  int64
 4   hr          17379 non-null  int64
 5   holiday     17379 non-null  int64
 6   weekday     17379 non-null  int64
 7   workingday  17379 non-null  int64
 8   weathersit  17379 non-null  int64
 9   temp        17379 non-null  float64
 10  atemp       17379 non-null  float64
 11  hum         17379 non-null  float64
 12  windspeed   17379 non-null  float64
 13  casual      17379 non-null  int64
 14  registered  17379 non-null  int64
 15  cnt         17379 non-null  int64
dtypes: float64(4), int64(11), object(1)
memory usage: 2.1+ MB

Interesting columns for distribution analysis are continous ones, 9-12 which are float type, and 13-15 which are integer

In [10]:
def describe_data(dataset):
    values = []
    for col in np.arange(9,16):
            values.append({
            'Column': dataset.iloc[:,col].name,
            'Mean': round(np.mean(dataset.iloc[:,col]), 2),
            'Min': round(np.min(dataset.iloc[:,col]), 2),
            'Max': round(np.max(dataset.iloc[:,col]), 2),
            'Std': round(np.std(dataset.iloc[:,col]), 2),
            'Max Z-Val': round(np.abs(max(stats.zscore(dataset.iloc[:,col]))), 2)
            })
    return pd.DataFrame(values)

In [40]:
describe_data(hour2)

       Column    Mean   Min     Max     Std  Max Z-Val
0        temp    0.48  0.02    1.00    0.19       2.71
1       atemp    0.46  0.00    0.95    0.17       2.88
2         hum    0.64  0.00    1.00    0.19       1.89
3   windspeed    0.19  0.00    0.55    0.12       3.11
4      casual   25.73  0.00  139.00   29.71       3.81
5  registered  129.85  0.00  582.00  119.69       3.78
6         cnt  155.58  1.00  594.00  138.45       3.17

In [110]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
hour2=hour.copy()
for col in np.arange(9,16):
    hour2.iloc[:,col]=scaler.fit_transform(hour2.iloc[:,col].values.reshape(-1, 1))

In [34]:
hour["casual"][np.abs(stats.zscore(hour["casual"]))>3]

2128     219
2129     240
2631     205
2632     197
2775     185
        ...
16174    260
16458    186
16459    224
16460    240
16461    233
Name: casual, Length: 467, dtype: int64

In [80]:
hour["registered"][np.abs(stats.zscore(hour["registered"]))>3]

10359    623
10382    614
10383    638
10397    628
10406    642
        ...
16909    670
16933    655
16957    623
17053    652
17077    665
Name: registered, Length: 371, dtype: int64

In [95]:
hour2=hour.copy()

In [96]:
hour2=hour2[np.abs(stats.zscore(hour2["casual"])) <= 3]
hour2=hour2[np.abs(stats.zscore(hour2["atemp"])) <= 3]
hour2=hour2[np.abs(stats.zscore(hour2["windspeed"])) <= 3]
hour2=hour2[np.abs(stats.zscore(hour2["registered"])) <= 3]
hour2=hour2[np.abs(stats.zscore(hour2["cnt"])) <= 3]

In [97]:
hour2

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [98]:
describe_data(hour2)

       Column    Mean   Min     Max     Std  Max Z-Val
0        temp    0.49  0.02    1.00    0.19       2.67
1       atemp    0.47  0.00    0.98    0.17       3.02
2         hum    0.64  0.00    1.00    0.19       1.91
3   windspeed    0.19  0.00    0.55    0.12       3.11
4      casual   28.96  0.00  183.00   35.77       4.31
5  registered  134.14  0.00  599.00  122.31       3.80
6         cnt  163.10  1.00  613.00  144.80       3.11

In [69]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
hour2=hour33.copy()
for col in np.arange(9,16):
    hour2.iloc[:,col]=scaler.fit_transform(hour2.iloc[:,col].values.reshape(-1, 1))

In [101]:
def woe_iv_calculation(dataset, feature, target):
    lst = []
    for i in range(dataset[feature].nunique()):
        val = list(dataset[feature].unique())[i]
        lst.append(OrderedDict({
            'Value': val,
            'All': dataset[dataset[feature] == val].count()[feature],
            'Good': dataset[(dataset[feature] == val) & (dataset[target] == 0)].count()[feature],
            'Bad': dataset[(dataset[feature] == val) & (dataset[target] == 1)].count()[feature]
        }))
        
    dset = pd.DataFrame(lst)
    dset['Distr_Good'] = dset['Good'] / dset['Good'].sum()
    dset['Distr_Bad'] = dset['Bad'] / dset['Bad'].sum()
    dset['WoE'] = np.log(dset['Distr_Good'] / dset['Distr_Bad'])
    dset = dset.replace({'WoE': {np.inf: 0, -np.inf: 0}})
    dset['IV'] = (dset['Distr_Good'] - dset['Distr_Bad']) * dset['WoE']
    iv = dset['IV'].sum()
    
    return dset, iv

In [100]:
from collections import OrderedDict

In [102]:
for col in hour2.columns:
    if col == 'casual': continue
    else:
        print('WoE and IV for column: {}'.format(col))
        df, iv = woe_iv_calculation(hour2, col, 'casual')
        print(df)
        print('IV score: {:.2f}'.format(iv))
        print('\n')

WoE and IV for column: dteday

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

          Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0    2011-01-01   24     2    2    0.001271   0.001864 -0.383162  0.000227
1    2011-01-02   23     5    4    0.003177   0.003728 -0.160018  0.000088
2    2011-01-03   22     6    3    0.003812   0.002796  0.309985  0.000315
3    2011-01-04   23     7    2    0.004447   0.001864  0.869601  0.002246
4    2011-01-05   23     6    3    0.003812   0.002796  0.309985  0.000315
..          ...  ...   ...  ...         ...        ...       ...       ...
726  2012-12-27   24     7    1    0.004447   0.000932  1.562748  0.005494
727  2012-12-28   24     5    2    0.003177   0.001864  0.533129  0.000700
728  2012-12-29   24     4    4    0.002541   0.003728 -0.383162  0.000455
729  2012-12-30   21     5    4    0.003177   0.003728 -0.160018  0.000088
730  2012-12-31   24     4    0    0.002541   0.000000  0.000000  0.000000

[731 rows x 8 columns]
IV score: 0.52


WoE and IV for column: season
   Value   All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0      1  4143   762  409    0.484117   0.381174  0.239070  0.024610
1      2  4034   293  208    0.186150   0.193849 -0.040527  0.000312
2      3  4131   171  183    0.108640   0.170550 -0.450984  0.027920
3      4  4019   348  273    0.221093   0.254427 -0.140431  0.004681
IV score: 0.06


WoE and IV for column: yr
   Value   All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0      0  8499   844  596    0.536213   0.555452 -0.035250  0.000678
1      1  7828   730  477    0.463787   0.444548  0.042366  0.000815
IV score: 0.00


WoE and IV for column: mnth
    Value   All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0       1  1421   320  160    0.203304   0.149115  0.309985  0.016798
1       2  1303   224  126    0.142313   0.117428  0.192202  0.004783
2       3  1392   167  104    0.106099   0.096925  0.090441  0.000830
3       4  1322   119   65    0.075604   0.060578  0.221575  0.003329
4       5  1353    74   65    0.047014   0.060578 -0.253484  0.003438
5       6  1319    55   65    0.034943   0.060578 -0.550216  0.014105
6       7  1374    54   42    0.034307   0.039143 -0.131847  0.000637
7       8  1368    64   62    0.040661   0.057782 -0.351413  0.006017
8       9  1290    58   74    0.036849   0.068966 -0.626784  0.020130
9      10  1332    86   77    0.054638   0.071761 -0.272620  0.004668
10     11  1398   131  108    0.083227   0.100652 -0.190096  0.003312
11     12  1455   222  125    0.141042   0.116496  0.191202  0.004693
IV score: 0.08


WoE and IV for column: hr
    Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE            IV
0       0  725    67   55    0.042567   0.051258 -0.185802  1.614890e-03
1       1  722   124   84    0.078780   0.078285  0.006303  3.120001e-06
2       2  712   182  119    0.115629   0.110904  0.041722  1.971326e-04
3       3  695   282  138    0.179161   0.128611  0.331492  1.675691e-02
4       4  696   332  163    0.210928   0.151911  0.328223  1.937076e-02
5       5  717   273  192    0.173443   0.178938 -0.031185  1.713350e-04
6       6  723   117   92    0.074333   0.085741 -0.142776  1.628793e-03
7       7  727    38   40    0.024142   0.037279 -0.434455  5.707151e-03
8       8  577     9   21    0.005718   0.019571 -1.230460  1.704602e-02
9       9  723     6    6    0.003812   0.005592 -0.383162  6.819721e-04
10     10  717    11   11    0.006989   0.010252 -0.383162  1.250282e-03
11     11  684     2   11    0.001271   0.010252 -2.087910  1.875148e-02
12     12  658     3    6    0.001906   0.005592 -1.076309  3.967088e-03
13     13  649     6    4    0.003812   0.003728  0.022303  1.875234e-06
14     14  649     7    6    0.004447   0.005592 -0.229011  2.621101e-04
15     15  654     4    5    0.002541   0.004660 -0.606305  1.284480e-03
16     16  657     4    4    0.002541   0.003728 -0.383162  4.546481e-04
17     17  502     2    1    0.001271   0.000932  0.309985  1.049864e-04
18     18  556     3    8    0.001906   0.007456 -1.363991  7.569822e-03
19     19  690     5   15    0.003177   0.013979 -1.481774  1.600742e-02
20     20  722    13   19    0.008259   0.017707 -0.762651  7.205644e-03
21     21  722    22   15    0.013977   0.013979 -0.000169  4.012882e-10
22     22  724    26   19    0.016518   0.017707 -0.069504  8.263611e-05
23     23  726    36   39    0.022872   0.036347 -0.463204  6.241692e-03
IV score: 0.13


WoE and IV for column: holiday
   Value    All  Good   Bad  Distr_Good  Distr_Bad       WoE        IV
0      0  15852  1541  1041    0.979034   0.970177  0.009088  0.000080
1      1    475    33    32    0.020966   0.029823 -0.352390  0.003121
IV score: 0.00


WoE and IV for column: weekday
   Value   All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0      6  2249   136  138    0.086404   0.128611 -0.397760  0.016788
1      0  2294   140  109    0.088945   0.101584 -0.132867  0.001679
2      1  2356   223  169    0.141677   0.157502 -0.105889  0.001676
3      2  2342   274  166    0.174079   0.154706  0.117979  0.002286
4      3  2361   324  172    0.205845   0.160298  0.250087  0.011391
5      4  2347   263  169    0.167090   0.157502  0.059094  0.000567
6      5  2378   214  150    0.135959   0.139795 -0.027821  0.000107
IV score: 0.03


WoE and IV for column: workingday
   Value    All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0      0   5018   309  279    0.196315   0.260019 -0.281032  0.017903
1      1  11309  1265  794    0.803685   0.739981  0.082582  0.005261
IV score: 0.02


WoE and IV for column: weathersit
   Value    All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0      1  10601   931  627    0.591487   0.584343  0.012151  0.000087
1      2   4349   417  287    0.264930   0.267474 -0.009558  0.000024
2      3   1374   226  157    0.143583   0.146319 -0.018872  0.000052
3      4      3     0    2    0.000000   0.001864  0.000000 -0.000000
IV score: 0.00


WoE and IV for column: temp

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

    Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0    0.24  516   109   72    0.069250   0.067102  0.031520  0.000068
1    0.22  415   111   69    0.070521   0.064306  0.092262  0.000573
2    0.20  349    95   50    0.060356   0.046598  0.258692  0.003559
3    0.32  599    71   56    0.045108   0.052190 -0.145834  0.001033
4    0.38  364    26   32    0.016518   0.029823 -0.590801  0.007860
5    0.36  665    55   46    0.034943   0.042870 -0.204470  0.001621
6    0.42  533    51   24    0.032402   0.022367  0.370610  0.003719
7    0.46  537    44   27    0.027954   0.025163  0.105191  0.000294
8    0.44  477    40   35    0.025413   0.032619 -0.249630  0.001799
9    0.40  606    42   42    0.026684   0.039143 -0.383162  0.004774
10   0.34  636    58   50    0.036849   0.046598 -0.234742  0.002289
11   0.30  630   100   49    0.063532   0.045666  0.330188  0.005899
12   0.26  554   115   49    0.073062   0.045666  0.469950  0.012875
13   0.16  230    71   29    0.045108   0.027027  0.512222  0.009261
14   0.14  135    59   23    0.037484   0.021435  0.558882  0.008969
15   0.18  154    48   24    0.030496   0.022367  0.309985  0.002520
16   0.12   76    33   10    0.020966   0.009320  0.810761  0.009442
17   0.28  297    40   27    0.025413   0.025163  0.009881  0.000002
18   0.10   48    24    8    0.015248   0.007456  0.715451  0.005575
19   0.08   17     9    4    0.005718   0.003728  0.427769  0.000851
20   0.06   16     6    2    0.003812   0.001864  0.715451  0.001394
21   0.04   16     7    2    0.004447   0.001864  0.869601  0.002246
22   0.02   17    11    3    0.006989   0.002796  0.916121  0.003841
23   0.52  525    29   26    0.018424   0.024231 -0.273962  0.001591
24   0.56  535    42   32    0.026684   0.029823 -0.111228  0.000349
25   0.58  292     9   12    0.005718   0.011184 -0.670844  0.003667
26   0.60  615    30   38    0.019060   0.035415 -0.619550  0.010133
27   0.48  272    13   17    0.008259   0.015843 -0.651426  0.004941
28   0.54  531    32   32    0.020330   0.029823 -0.383162  0.003637
29   0.50  492    29   33    0.018424   0.030755 -0.512373  0.006318
30   0.66  630    35   32    0.022236   0.029823 -0.293550  0.002227
31   0.64  629    31   23    0.019695   0.021435 -0.084669  0.000147
32   0.68  320    15   12    0.009530   0.011184 -0.160018  0.000265
33   0.70  622    20   23    0.012706   0.021435 -0.522924  0.004564
34   0.62  670    41   38    0.026048   0.035415 -0.307176  0.002877
35   0.74  449     3    4    0.001906   0.003728 -0.670844  0.001222
36   0.76  323     2    3    0.001271   0.002796 -0.788627  0.001203
37   0.72  499    17   10    0.010801   0.009320  0.147467  0.000218
38   0.78  144     1    4    0.000635   0.003728 -1.769456  0.005472
39   0.82  178     0    0    0.000000   0.000000       NaN       NaN
40   0.80  268     0    1    0.000000   0.000932  0.000000 -0.000000
41   0.86  116     0    0    0.000000   0.000000       NaN       NaN
42   0.88   45     0    0    0.000000   0.000000       NaN       NaN
43   0.90   83     0    0    0.000000   0.000000       NaN       NaN
44   0.84  122     0    0    0.000000   0.000000       NaN       NaN
45   0.92   46     0    0    0.000000   0.000000       NaN       NaN
46   0.94   17     0    0    0.000000   0.000000       NaN       NaN
47   0.96   15     0    0    0.000000   0.000000       NaN       NaN
48   0.98    1     0    0    0.000000   0.000000       NaN       NaN
49   1.00    1     0    0    0.000000   0.000000       NaN       NaN
IV score: 0.14


WoE and IV for column: atemp

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

     Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0   0.2879  427    73   42    0.046379   0.039143  0.169628  0.001227
1   0.2727  390    63   44    0.040025   0.041007 -0.024217  0.000024
2   0.2576  412    94   56    0.059720   0.052190  0.134781  0.001015
3   0.3485  443    46   30    0.029225   0.027959  0.044282  0.000056
4   0.3939  364    26   32    0.016518   0.029823 -0.590801  0.007860
..     ...  ...   ...  ...         ...        ...       ...       ...
59  0.8939   15     0    0    0.000000   0.000000       NaN       NaN
60  0.9242    5     0    0    0.000000   0.000000       NaN       NaN
61  0.9091    5     0    0    0.000000   0.000000       NaN       NaN
62  0.9545    1     0    0    0.000000   0.000000       NaN       NaN
63  0.9848    2     0    0    0.000000   0.000000       NaN       NaN

[64 rows x 8 columns]
IV score: 0.14


WoE and IV for column: hum

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

    Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0    0.81  274    39   27    0.024778   0.025163 -0.015437  0.000006
1    0.80  104    37   18    0.023507   0.016775  0.337384  0.002271
2    0.75  220    57   32    0.036213   0.029823  0.194154  0.001241
3    0.86   76    35   11    0.022236   0.010252  0.774291  0.009280
4    0.76  216    24   12    0.015248   0.011184  0.309985  0.001260
..    ...  ...   ...  ...         ...        ...       ...       ...
84   0.89  233    15   13    0.009530   0.012116 -0.240061  0.000621
85   0.79  228    15   12    0.009530   0.011184 -0.160018  0.000265
86   0.16    3     0    0    0.000000   0.000000       NaN       NaN
87   0.97    1     0    0    0.000000   0.000000       NaN       NaN
88   0.91    1     0    0    0.000000   0.000000       NaN       NaN

[89 rows x 8 columns]
IV score: 0.15


WoE and IV for column: windspeed
     Value   All  Good  Bad  Distr_Good  Distr_Bad       WoE            IV
0   0.0000  2092   243  182    0.154384   0.169618 -0.094107  1.433640e-03
1   0.0896  1366   159  123    0.101017   0.114632 -0.126442  1.721551e-03
2   0.2537  1206    93   56    0.059085   0.052190  0.124086  8.555753e-04
3   0.2836   964    79   54    0.050191   0.050326 -0.002698  3.658084e-07
4   0.2985   740    67   47    0.042567   0.043802 -0.028617  3.536202e-05
5   0.1940  1572   140   92    0.088945   0.085741  0.036692  1.175781e-04
6   0.2239  1414   133   83    0.084498   0.077353  0.088347  6.312274e-04
7   0.1343  1662   160  118    0.101652   0.109972 -0.078672  6.545708e-04
8   0.1642  1603   151   87    0.095934   0.081081  0.168210  2.498398e-03
9   0.3284   561    54   37    0.034307   0.034483 -0.005096  8.930557e-07
10  0.4478   166    11   11    0.006989   0.010252 -0.383162  1.250282e-03
11  0.3582   434    36   25    0.022872   0.023299 -0.018519  7.916628e-06
12  0.4179   274    19   20    0.012071   0.018639 -0.434455  2.853575e-03
13  0.3881   355    30   15    0.019060   0.013979  0.309985  1.574796e-03
14  0.1045  1553   165  103    0.104828   0.095993  0.088055  7.780450e-04
15  0.4925   109     5    8    0.003177   0.007456 -0.853165  3.650790e-03
16  0.5522    37     4    1    0.002541   0.000932  1.003133  1.614371e-03
17  0.4627   141    12    7    0.007624   0.006524  0.155835  1.714375e-04
18  0.5224    78    13    4    0.008259   0.003728  0.795493  3.604656e-03
IV score: 0.02


WoE and IV for column: registered

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

     Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0       13   93    26   12    0.016518   0.011184  0.390028  0.002081
1       32   63     9    7    0.005718   0.006524 -0.131847  0.000106
2       27   68    11   12    0.006989   0.011184 -0.470173  0.001972
3       10  133    36   32    0.022872   0.029823 -0.265379  0.001845
4        1  199   139   40    0.088310   0.037279  0.862433  0.044011
..     ...  ...   ...  ...         ...        ...       ...       ...
569    576    1     0    0    0.000000   0.000000       NaN       NaN
570    580    2     0    0    0.000000   0.000000       NaN       NaN
571    542    1     0    0    0.000000   0.000000       NaN       NaN
572    582    1     0    0    0.000000   0.000000       NaN       NaN
573    585    1     0    0    0.000000   0.000000       NaN       NaN

[574 rows x 8 columns]
IV score: 0.30


WoE and IV for column: cnt
     Value  All  Good  Bad  Distr_Good  Distr_Bad       WoE        IV
0       16  104    21   17    0.013342   0.015843 -0.171853  0.000430
1       40   58     7    7    0.004447   0.006524 -0.383162  0.000796
2       32   66     9    6    0.005718   0.005592  0.022303  0.000003
3       13  113    26   13    0.016518   0.012116  0.309985  0.001365
4        1  156   139   17    0.088310   0.015843  1.718099  0.124505
..     ...  ...   ...  ...         ...        ...       ...       ...
604    573    2     0    0    0.000000   0.000000       NaN       NaN
605    534    2     0    0    0.000000   0.000000       NaN       NaN
606    603    1     0    0    0.000000   0.000000       NaN       NaN
607    542    4     0    0    0.000000   0.000000       NaN       NaN
608    561    2     0    0    0.000000   0.000000       NaN       NaN

[609 rows x 8 columns]
IV score: 0.44

C:\Users\Mislav\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [104]:
def cap_outliers(series, iqr_threshold=1.5, verbose=False):
    '''Caps outliers to closest existing value within threshold (IQR).'''
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    lbound = Q1 - iqr_threshold * IQR
    ubound = Q3 + iqr_threshold * IQR

    outliers = (series < lbound) | (series > ubound)

    series = series.copy()
    series.loc[series < lbound] = series.loc[~outliers].min()
    series.loc[series > ubound] = series.loc[~outliers].max()

    # For comparison purposes.
    if verbose:
            print('\n'.join(
                ['Capping outliers by the IQR method:',
                 f'   IQR threshold: {iqr_threshold}',
                 f'   Lower bound: {lbound}',
                 f'   Upper bound: {ubound}\n']))

    return series

cap_outliers(hour['casual'], verbose=True)

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -62.0
   Upper bound: 114.0

0         3
1         8
2         5
3         3
4         0
         ..
17374    11
17375     8
17376     7
17377    13
17378    12
Name: casual, Length: 17379, dtype: int64

In [109]:
hour['casual']=cap_outliers(hour['casual'], verbose=True)
hour['windspeed']=cap_outliers(hour['windspeed'], verbose=True)
hour['registered']=cap_outliers(hour['registered'], verbose=True)
hour['cnt']=cap_outliers(hour['cnt'], verbose=True)

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -62.0
   Upper bound: 114.0

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -0.1193
   Upper bound: 0.4775

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -245.0
   Upper bound: 499.0

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -321.5
   Upper bound: 642.5

In [113]:
hour['atemp']=cap_outliers(hour['atemp'], verbose=True)

Capping outliers by the IQR method:
   IQR threshold: 1.5
   Lower bound: -0.09854999999999997
   Upper bound: 1.0530499999999998

In [114]:
describe_data(hour)

       Column    Mean   Min     Max     Std  Max Z-Val
0        temp    0.50  0.02    1.00    0.19       2.61
1       atemp    0.48  0.00    1.00    0.17       3.05
2         hum    0.63  0.00    1.00    0.19       1.93
3   windspeed    0.19  0.00    0.46    0.12       2.33
4      casual   31.16  0.00  114.00   34.81       2.38
5  registered  148.65  0.00  499.00  135.35       2.59
6         cnt  186.35  1.00  642.00  171.89       2.65